.home {
position: relative;
}

.logo {
position: absolute;
width: 238.62px;
height: 25.63px;
left: 372px;
top: 79.55px;
}

.postsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 80vw;
  position: absolute;
  left: 370px;
  top: 170px;
  gap: 48px;
}

.postItem {
  display: flex;
  flex-direction: column;
  flex: 1;
  cursor: pointer;


  h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 28px;
    color: #F8F8F8;
  }

  p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    margin-top: 8px;
    color: #D7D7D7;
  }

  span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    color: #BBBBBB;
  }

  .metadata {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 24px;

    .content {
      display: flex;
      font-size: 16px;
      color: #BBBBBB;
      align-items: center;

      span {
        font-size: 14px;
        margin-left: 8px;
      }
    }

  }
  
}
